# The bin file for this project
WeekTimer
WeekTimerGPIO

# Ignore the SQLite file
weektimer.db

# Buildfiles
*.o
*.moc
*.swp

# Debian install files
*.deb

# Autogen
Makefile

# Misc
tags
cscope.files
cscope.out
